<p>
  <app-refresh-filter></app-refresh-filter>
  <app-language-filter></app-language-filter>
  <app-content-filter></app-content-filter>
  <app-environment-filter></app-environment-filter>
  <app-analysis-filter></app-analysis-filter>
</p>
