<div>
  <span><img class="logo_breadcrumb" src="/assets/logo_breadcrumb.svg" alt="Swift Community"></span>
  Home
  <span><fa-icon [icon]="faChevronRight"></fa-icon></span>
  Filter Quality
  <span><fa-icon [icon]="faChevronRight"></fa-icon></span>
  Audit Rule
  <span><fa-icon [icon]="faChevronRight"></fa-icon></span>
  Diagnose
  <span><fa-icon [icon]="faLink"></fa-icon></span>
</div>
