<div class="generic-view">

  <div class="generic-view-header">
    <div class="gv-header-left">
      <div class="gvh-title">
        <app-page-title></app-page-title>
      </div>
      <div class="gvh-breadcrumb">
        <app-breadcrumb></app-breadcrumb>
      </div>
    </div>
    <div class="gv-header-right">
      <app-filters></app-filters>
    </div>
  </div>

  <div class="generic-view-content">
    <div class="phrase-diagnose">
      <app-phrase-diagnose></app-phrase-diagnose>
    </div>
    <div class="phrase-details">
      <app-phrase-details></app-phrase-details>
    </div>
  </div>

</div>
