:host {
  width: 100%;
}

.generic-view{
  display: grid;
  grid-gap: 20px;
}

.generic-view-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "gvhleft gvhright";
}

.gv-header-left{
  grid-area: gvhleft;
}

.gv-header-right{
  grid-area: gvhright;
  justify-self: end;
}

.generic-view-content{
  display: grid;
  grid-template-columns: 1fr 398px;
  grid-template-rows: auto;
  grid-template-areas: "phdiagnose phdetails";
}

.phrase-diagnose{
  grid-area: phdiagnose;
}

.phrase-details{
  grid-area: phdetails;
}
